<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="Basic_Temp_org" value ="pens"/>
		<add key ="Basic_Temp_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="Basic_Temp_user1" value="suren_testmgr1@pens.com"/>
		<add key ="Basic_Temp_station1" value="1911"/>
		<add key ="Basic_Temp_user2" value ="suren_testmgr2@pens.com"/>
		<add key ="Basic_Temp_station2" value="1912"/>
		<add key="Basic_Temp_password" value="Forgerock1"/>
		<add key ="Basic_Temp_dnis" value ="7777771104"/>
		<add key ="Basic_Temp_disp" value="HF_Success"/>
		<add key ="Basic_Temp_nr_rc" value="ABAF_NR"/>
		<add key ="Basic_Temp_cons_wt" value="EHUB_19223_2"/>
		<add key ="Basic_Temp_ext_num" value="9999800002"/>
		
		<add key ="EHUB_19074_org" value ="pens"/>
		<add key ="EHUB_19074_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB_19074_user1" value="suren_testmgr1@pens.com"/>
		<add key ="EHUB_19074_station1" value="1911"/>
		<add key ="EHUB_19074_user2" value ="suren_testmgr5@pens.com"/>
		<add key ="EHUB_19074_station2" value="1913"/>
		<add key="EHUB_19074_password" value="Forgerock1"/>
		<add key ="EHUB_19074_dnis" value ="7777771104"/>
		<add key ="EHUB_19074_disp" value="HF_Success"/>
		<add key ="EHUB_19074_nr_rc" value="ABAF_NR"/>
		<add key ="EHUB_19074_cons_wt" value="EHUB_19223_2"/>
		<add key ="EHUB_19074_ext_num" value="9999800002"/>
		
		<add key ="EHUB_18585_org" value ="pens"/>
		<add key ="EHUB_18585_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB_18585_user1" value="suren_testmgr1@pens.com"/>
		<add key ="EHUB_18585_station1" value="1911"/>
		<add key ="EHUB_18585_user2" value ="suren_testmgr2@pens.com"/>
		<add key ="EHUB_18585_ondemanduser" value ="suren_testmgr5@pens.com"/>
		<add key ="EHUB_18585_station2" value="1912"/>
		<add key="EHUB_18585_password" value="Forgerock1"/>
		<add key ="EHUB_18585_dnis" value ="7777771104"/>
		<add key ="EHUB_18585_disp" value="SJ_Success"/>
		<add key ="EHUB_18585_nr_rc" value="ABAF_NR"/>
		<add key ="EHUB_18585_cons_wt" value="EHUB_19223_2"/>
		<add key ="EHUB_18585_ext_num" value="9999800002"/>
		
		<add key ="EHUB_13941_org" value ="pens"/>
		<add key ="EHUB_13941_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB_13941_user1" value="suren_testmgr1@pens.com"/>
		<add key ="EHUB_13941_station1" value="1911"/>
		<add key ="EHUB_13941_user2" value ="suren_testmgr5@pens.com"/>
		<add key ="EHUB_13941_station2" value="1913"/>
		<add key="EHUB_13941_password" value="Forgerock1"/>
		<add key ="EHUB_13941_dnis" value ="7777771104"/>
		<add key ="EHUB_13941_disp" value="HF_Success"/>
		<add key ="EHUB_13941_nr_rc" value="ABAF_NR"/>
		<add key ="EHUB_13941_cons_wt" value="EHUB_19223_2"/>
		<add key ="EHUB_13941_ext_num" value="9999800002"/>
		

		<add key ="EHUB_13832_org" value ="pens"/>
		<add key ="EHUB_13832_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB_13832_user1" value="suren_testmgr1@pens.com"/>
		<add key ="EHUB_13832_station1" value="1911"/>
		<add key ="EHUB_13832_user2" value ="suren_testmgr2@pens.com"/>
		<add key ="EHUB_13832_station2" value="1912"/>
		<add key="EHUB_13832_password" value="Forgerock1"/>
		<add key ="EHUB_13832_dnis" value ="7777771104"/>
		<add key ="EHUB_13832_disp" value="HF_Success"/>
		<add key ="EHUB_13832_nr_rc" value="ABAF_NR"/>
		<add key ="EHUB_13832_cons_wt" value="EHUB_19223_2"/>
		<add key ="EHUB_13832_ext_num" value="9999800002"/>
		
		<add key ="EHUB_13825_org" value ="pens"/>
		<add key ="EHUB_13825_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB_13825_user1" value="suren_testmgr1@pens.com"/>
		<add key ="EHUB_13825_station1" value="1911"/>
		<add key ="EHUB_13825_user2" value ="suren_testmgr2@pens.com"/>
		<add key ="EHUB_13825_station2" value="1912"/>
		<add key="EHUB_13825_password" value="Forgerock1"/>
		<add key ="EHUB_13825_dnis" value ="7777771104"/>
		<add key ="EHUB_13825_disp" value="HF_Success"/>
		<add key ="EHUB_13825_nr_rc" value="ABAF_NR"/>
		<add key ="EHUB_13825_cons_wt" value="EHUB_19223_2"/>
		<add key ="EHUB_13825_ext_num" value="9999800002"/>
		<add key ="EHUB_13825_wt3" value="suren_auto_voicewt3"/>

		<add key ="EHUB-13819_org" value ="pens"/>
		<add key ="EHUB-13819_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB-13819_user1" value="suren_testmgr5"/>
		<add key ="EHUB-13819_station1" value="1913"/>
		<add key ="EHUB-13819_user2" value ="suren_testmgr1@pens.com"/>
		<add key ="EHUB-13819_station2" value="1912"/>
		<add key="EHUB-13819_password" value="Forgerock1"/>
		<add key ="EHUB-13819_dnis" value ="7777771104"/>
		<add key ="EHUB-13819_disp" value="HF_Success"/>
		<add key ="EHUB-13819_nr_rc" value="ABAF_NR"/>
		<add key ="EHUB-13819_park_rc" value="ABAF_Park"/>
		<add key ="EHUB-13819_cons_wt" value="EHUB_19223_2"/>
		<add key ="EHUB-13819_ext_num" value="9999800002"/>



		<add key ="EHUB_19263_org" value ="pens"/>
		<add key ="EHUB_19263_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB_19263_user" value="st.surenuser1@pens.com"/>
		<add key ="EHUB_19263_station" value="1911"/>
		<add key="EHUB_19263_password" value="Forgerock1"/>
		<add key ="EHUB_19263_dnis" value ="7777771101"/>


		<add key ="EHUB_19550_org" value ="pens"/>
		<add key ="EHUB_19550_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB_19550_user1" value="st.surenuser1@pens.com"/>
		<add key ="EHUB_19550_station1" value="1911"/>
		<add key="EHUB_19550_password" value="Forgerock1"/>
		<add key ="EHUB_19550_dnis" value ="7777771148"/>
		<add key ="EHUB_19550_disp" value="SJ_Success"/>
		<add key ="EHUB_19550_ext_num" value="9999800002"/>

		<add key ="EHUB_19360_19245_org" value ="pens"/>
		<add key ="EHUB_19360_19245_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB_19360_19245_user1" value="st.surenuser1@pens.com"/>
		<add key ="EHUB_19360_192450_station1" value="1911"/>
		<add key="EHUB_19360_192450_password" value="Forgerock1"/>
		<add key ="EHUB_19360_19245_disp" value="SJ_Success"/>

		<add key ="EHUB_19223_org" value ="pens"/>
		<add key ="EHUB_19223_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB_19223_user1" value="suren_testmgr1@pens.com"/>
		<add key ="EHUB_19223_station1" value="1911"/>
		<add key ="EHUB_19223_user2" value ="suren_testmgr2@pens.com"/>
		<add key ="EHUB_19223_station2" value="1912"/>
		<add key="EHUB_19223_password" value="Forgerock1"/>
		<add key ="EHUB_19223_dnis" value ="7777771104"/>
		<add key ="EHUB_19223_disp" value="HF_Success"/>
		<add key ="EHUB_19223_cons_wt" value="EHUB_19223_2"/>
		<add key ="EHUB_19223_ext_num" value="9999800002"/>

		<add key ="EHUB_19579_org" value ="pens"/>
		<add key ="EHUB_19579_url" value="https://pens.brooklyn.aspect-cloud.net/manux/"/>
		<add key="EHUB_19579_user1" value="suren_testmgr1"/>
		<add key ="EHUB_19579_station1" value="1911"/>
		<add key ="EHUB_19579_user2" value ="suren_testmgr2"/>
		<add key ="EHUB_19579_station2" value="1912"/>
		<add key="EHUB_19579_password" value="Forgerock1"/>
		<add key ="EHUB_19579_dnis" value ="7777771104"/>
		<add key ="EHUB_19579_disp" value="HF_Success"/>
		<add key ="EHUB_19579_cons_wt" value="EHUB_19223_2"/>
		<add key ="EHUB_19579_ext_num" value="011919663044463"/>



		
		


		
		
		
	</appSettings>
</configuration>